/* ForgotPassword.css */

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fce3fe;
    padding-top: 70px; /* Adjust as needed */
  }
  
  .forgot-password h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .forgot-password form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust the width as needed */
  }
  
  .forgot-password label {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .forgot-password input {
    height: 40px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 16px;
  }
  
  .forgot-password button {
    height: 50px;
    width: 100%;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  